In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read the files and store data into Pandas Dataframe
Jan_df = pd.read_csv("CitiBike/Jan.csv")
Feb_df = pd.read_csv("CitiBike/Feb.csv")
March_df = pd.read_csv("CitiBike/March.csv")
April_df = pd.read_csv("CitiBike/Apr.csv")
May_df = pd.read_csv("CitiBike/May.csv")
June_df = pd.read_csv("CitiBike/June.csv")
July_df = pd.read_csv("CitiBike/July.csv")
Aug_df = pd.read_csv("CitiBike/Aug.csv")
Sep_df = pd.read_csv("CitiBike/Sep.csv")
Oct_df = pd.read_csv("CitiBike/Oct.csv")
Nov_df = pd.read_csv("CitiBike/Nov.csv")
Dec_df = pd.read_csv("CitiBike/Dec.csv")

In [3]:
# Combine all files into single datafram
Combined_Data = Jan_df.append([Feb_df, March_df, April_df, May_df, June_df, July_df, Aug_df, Sep_df, Oct_df, Nov_df, Dec_df],
                              ignore_index = True)
Combined_Data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
# Rename Columns
Combined_Data = Combined_Data.rename( columns={"tripduration": "Trip Duration",
                                              "starttime": "Start Time",
                                               "stoptime": "Stop Time",
                                               "start station id": "Start Station ID",
                                               "start station name": "Start Station Name",
                                               "start station latitude": "Start Station Latitude",
                                               "start station longitude": "Start Station Longitude",
                                               "end station id": "End Station ID",
                                               "end station name": " End Station Name",
                                               "end station latitude": "End Station Latitude",
                                               "end station longitude": "End Station Longitude",
                                               "bikeid": "Bike ID",
                                               "usertype": "User Type",
                                               "birth year": "Birth Year",
                                               "gender": "Gender"                                            
                                              })
Combined_Data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
Combined_Data.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
 End Station Name           object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                   int64
Gender                       int64
dtype: object

In [6]:
# Export cleaned combined data to csv file
Combined_Data.to_csv("2019-CitiBike-Data.csv", index = False, header= True)